.homebody{
    padding: 0 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.trending{
    margin: 4rem 2rem 2rem;
    text-decoration: underline 2px #fd8e26;
    text-align: center;
    color: #001d38;
    font-size: 1.3rem;
    font-weight: bolder;
}

@media(max-width: 460px){
    .homebody{
        /* justify-content: center; */
        padding: 0 1rem 1rem;
    }
}