nav{
    width: 96%;
    background: rgba(255, 233, 213, 0.9);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(255, 192, 133, 0.8);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    margin: 0 auto;
    position: sticky;
    top: 0.3rem;
}
a.logo{
    color: #001d38;
    font-size: 1.6rem;
    font-weight: bolder;
    -webkit-text-stroke: 0.5px #fd8e26;
}
.searchbox{
    border: 0.5px solid #ffd2a9;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 0.2rem 0.4rem;
}
.searchbox > *{
    background-color: transparent;
    border: none;
    color: #001d38;
}
.searchbox>input{
    width: 250px;
    padding-left: 5px;
    font-size: 1rem;
}
input#searchterm::placeholder{
    color: #fd8e26;
}
.searchbox>input:focus {
    outline: none;
}

@media (max-width: 560px){
    nav{
        padding: 1rem;
    }
    a.logo{
        font-size: 1.4rem;
    }
    .searchbox>input{
        width: 150px;
    }
}